body {
  font-family: 'Roboto', serif;
}
h1 {
  height: 100%;
  margin: 0;
  text-align: center; 
  font-size: 4.5em;
  font-weight: 100;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  padding: 0;
}
ul.header li a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}
.content {
  display: block;
  max-width: 800px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  width: 100%;
  flex: 1 0 auto;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  color: #FFF !important;
  font-style: italic;
  background-color: #000;
}
.social {
  text-align: center;
  margin-bottom: 1em;
}
.social a {
  margin-right: 1em;
}
.social a img {
  width: 25px;
  margin-bottom: 1em;
}
.pdf {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}