* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', serif;  
  font-weight: 300;
}
input         {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
  text-align: center;
  margin-left:auto; 
  margin-right:auto;
}
input:focus {
outline: none;
}
button {
  padding: 6px 4px; 
  outline: none; 
  background: rgb(255, 255, 255); 
  border: 2px solid rgb(241, 241, 241); 
  border-radius: 4px;
}
h1 {
  height: 100%;
  margin: 0;
  text-align: center; 
  font-size: 4.5em;
  font-weight: 100;
}
b {
  font-weight: 400;
}
h2 {
  height: 100%;
  margin: 0;
  font-size: 3em;
  font-weight: 300;
}
h3 {
  height: 100%;
  margin: 0;
  font-size: 2em;
  font-weight: 300;
}
h4 {
  height: 100%;
  margin: 0;
  font-size: 1.5em;
  font-weight: 100;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  text-align: center;
  padding: 0;
}
ul.header li a {
  color: #000;
  font-size: 1.5em;
  font-weight: 300;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  outline: none;
}
ul.header li a:hover {
  font-style: italic;
}
ul.header li a.active {
  font-weight: 500;
}
.content {
  display: block;
  max-width: 1000px;
  padding-left: auto;
  padding-right: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  width: 100%;
  flex: 1 0 auto;
}
/* here the rules for small windows */
@media (max-width: 950px) { 
  .baby img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
  }
  .year,.term {
    float: none;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
  }
}

/* here the rules for windows above 900px */
@media (min-width: 950px) {
  .baby img {
    max-width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
  }
  .year,.term {
    float: left;
  }
}
.baby {
  text-align: center;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.social {
  text-align: center;
  margin-bottom: 1em;
}
.social a {
  margin-right: 1em;
}
.social a img {
  width: 25px;
  margin-bottom: 1em;
}
.movies,.shows,.games,.books,.boardgames {
  float: left;
}
.term {
  min-width: 300px;
  max-width: 300px;
}
.title {
  align-content: center;
  text-align: center;
}
.finalYear {
  float: inline-start;
}
canvas {
  padding: 0;
  margin: auto;
  display: block;
}
.reflectionTitle {
  height: 100%;
  margin: 0;
  font-size: 4.5em;
  font-weight: 100;
}
.mui-form {
  text-align: center;
}
a { 
  text-decoration: none; 
}
.Resume {
  text-align:center;
}
.react-pdf__Document {
  margin-right: 40px;
}
